<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WhatsLAN</title>
  </head>
  <body>
    <h1>WhatsLAN</h1>
    <br><h3>Create a nickname to get started - <br>*You can delete it later</h3>
    <br>
    <form action="/setnn" method="post">
        <input type="text" name="nn" placeholder="Nickname"><br>
        <input type="submit" value="GO">
    </form>
  </body>
</html>
